html,body {
    font-size: 15px;
    font-family: 'Open Sans',sans-serif;
    background-color: #ffffff;
}

body {
  width: 90%;
  margin: 0 auto;
  
}
h1 {
  font-size: 40px;
  color: rgb(71, 245, 28);  
  border-bottom: 1px solid rgb(71, 245, 28);
}

div {
  color: rgb(116, 116, 116);
}
h2 {
  font-size: 20px;
  font-style: italic;
}

ul {
  background-color: rgb(241, 225, 225);
  border: 5px solid rgb(71, 245, 28);
  padding: 10px 25px;
}

a:hover{
  color: red;
  text-decoration: none;
}